Screenshots/Routing digital - 3.18.2025.PNG
Ignore/BLE Design Output (AutoRecovered).docx
Ignore/BLE Design Output Feb copy.docx
Ignore/~$Inductor Calculations.xlsx
Ignore/Extra Infoi.txt
Ignore/Inductor Calculations.xlsx
ble_module-backups/ble_module-2025-03-31_170611.zip
ble_module-backups/ble_module-2025-03-31_171212.zip
ble_module-backups/ble_module-2025-03-31_172407.zip
ble_module-backups/ble_module-2025-03-31_172910.zip
ble_module-backups/ble_module-2025-03-31_173458.zip
ble_module-backups/ble_module-2025-03-31_183149.zip
ble_module-backups/ble_module-2025-03-31_190510.zip
ble_module-backups/ble_module-2025-04-01_103831.zip
ble_module-backups/ble_module-2025-04-01_112357.zip
ble_module-backups/ble_module-2025-04-01_121919.zip
ble_module-backups/ble_module-2025-04-01_152213.zip
ble_module-backups/ble_module-2025-04-01_233712.zip
ble_module-backups/ble_module-2025-04-02_140216.zip
ble_module-backups/ble_module-2025-04-03_181846.zip
ble_module-backups/ble_module-2025-04-03_182351.zip
ble_module-backups/ble_module-2025-04-03_183048.zip
ble_module-backups/ble_module-2025-04-03_183630.zip
ble_module-backups/ble_module-2025-04-03_184914.zip
ble_module-backups/ble_module-2025-04-05_130000.zip
ble_module-backups/ble_module-2025-04-05_143927.zip
ble_module-backups/ble_module-2025-04-06_114528.zip
ble_module-backups/ble_module-2025-04-06_115050.zip
ble_module-backups/ble_module-2025-04-06_115811.zip
ble_module-backups/ble_module-2025-04-06_142104.zip
ble_module-backups/ble_module-2025-04-06_185049.zip
ble_module-backups/ble_module-2025-04-07_140231.zip
ble_module-backups/ble_module-2025-04-07_151747.zip
ble_module-backups/ble_module-2025-04-07_163101.zip
ble_module-backups/ble_module-2025-04-07_183011.zip
ble_module-backups/ble_module-2025-04-07_220612.zip
ble_module-backups/ble_module-2025-04-07_221528.zip
